.home-page {
  background-image: url(https://cdn.domestika.org/c_limit,dpr_1.0,f_auto,q_auto,w_820/v1381758153/content-items/000/428/261/setas_final3-original.jpg?1381758153);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
